<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/rolexLogo.png" />

	<title>Rolex</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
		rel="stylesheet">
</head>

<body>
	<!-- Header -->
	<% if (locals.user !=undefined) { %>
		<%- include('./partials/headerLogueado') %>
			<% } else { %>
				<%- include('./partials/header') %>
					<% } %>
						<!-- /Header -->
						<hr>
						<!-- Banner -->
						<div class="banner">

						</div>
						<!-- /Banner -->


						<hr>
						<!-- Novedades -->
						<div class="container products-wrapper">
							<div class="row">
								<div class="col-12">
									<h2 class="products-title">Todos los productos</h2>
								</div>
								<!-- Show the "ultimos" products -->

								<!-- Probamos que funcione traer datos-->

								<% for(let i=0; i < datos.length; i++){ %>
									<div class="col-12 col-sm-6 col-lg-3">
										<section class="product-box">
											<a href="product/<%=  datos[i].id %>">
												<figure class="product-box_image">
													<img src="<%= datos[i].imagenProducto %>" alt="foto"
														class="imgProduct">
												</figure>
												<article class="product-box_data">
													<h2>
														<%= datos[i].nombreProducto %>
													</h2>
													<p>
														<a href="/profile/<%= datos[i].idUsuario %>">
															<%= datos[i].usuario.usuario %>
														</a>
													</p>

												</article>
											</a>
										</section>
									</div>
									<% } %>
							</div>
						</div>
						<!-- /Novedades -->



						<!-- footer -->
						<%- include("./partials/footer") %>
							<!-- /footer -->
</body>

</html>