<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/rolexLogo.png" />

	<title>Rolex</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
	<!-- Header -->

	<!-- /Header -->
	<%- include("./partials/header") %>
		<!-- product detail -->
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				<h2 class="products-title">
					<%= datos.nombreProducto %>
				</h2>
				<p class="product-detail-description">
					<a href="/product-edit/<%= datos.id %>">Editar</a>
				</p>
			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="<%= datos.imagenProducto %>" alt="" class="product-detail-img">
						<p class="product-detail-description">
							<%= datos.descripcion%>
						</p>
					</article>
					<div class="col-12 col-lg-4">
						<section class="comments">
							<% for( i=0; i < datos.comentarios.length; i++){ %>
								<article>
									<div class="data">
										<p class="user">
											<strong> <a href="/profile/<%= datos.comentarios[i].idUsuario %>">
													<%= datos.comentarios[i].idUsuario %>:
												</a> </strong>
											<%= datos.comentarios[i].textoComentario %>
										</p>
									</div>
								</article>
								<% } %>

						</section>
						<form class="form" action="product" method="GET">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario">
							<div>
								<a href="/product" class="volver_index">
									<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
								</a>
							</div>
						</form>
						<hr>
					</div>
				</div>
			</div>
		</div>
		<!-- /product detail -->

		<!-- footer -->
		<%- include("./partials/footer") %>
			<!-- /footer -->

</body>

</html>