<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/rolexLogo.png" />

	<title>Rolex</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	 <% } else { %>
		<%- include('./partials/header') %>
	<% } %>
		<!-- /Header -->

		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Resultados de búsqueda</h2>
				</div>
				<% if (productos.length == 0) { %>
					<h1 class="products-title">No hay resultados para su criterio de búsqueda</h1>
				 <% } %>
				<% for(let i=0; i < productos.length; i++){ %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="product/<%= productos[i].id %>">
								<figure class="product-box_image">
									<img src="<%= productos[i].imagenProducto %>" alt="cafetera moulinex"
										class="imgProduct">
								</figure>
								<article class="product-box_data">
									<h2>
										<%= productos[i].nombreProducto %>
									</h2>
									<p>
										<%= productos[i].descripcion %>
									</p>
									<p>Comentarios: <%= productos[i].comentarios.length %>
									</p>
									<p>
										<a href="/profile/<%= productos[i].idUsuario %>"><%= productos[i].usuario.usuario %></a>
									</p>
								</article>
							</a>
						</section>
					</div>
					<% } %>


						<!-- footer -->
						<%- include("./partials/footer") %>
							<!-- /footer -->
</body>

</html>